[mysqld]
# ==========================================
#  MASTER CONFIGURATION - Master-Slave Demo
# ==========================================

server-id         = 1

# Aktifkan Binary Log (WAJIB untuk replication)
log_bin           = mysql-bin
binlog_format     = ROW

# Hanya replikasi database ini
binlog_do_db      = demo_db

# Manajemen binary log
expire_logs_days  = 7
max_binlog_size   = 100M
