[mysqld]
# =============================================
#  SLAVE - ASYNCHRONOUS (Default)
# =============================================

server-id             = 2
relay_log             = relay-bin
read_only             = ON
log_replica_updates   = ON
